*{
  padding: 0;
  margin: 0;
}
ul, ol {
  list-style: none;
}
/*==================================================================================================== 
                    Registration Part Start
====================================================================================================*/
.regContainer{
margin-top: 50%;
transform: translateY(-50%);
}
.regImg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cssforReg{
  /* font-size: 19.3px; */
}

.regInfo{
  font-family: 'Nunito', sans-serif;
  /* margin: 150px 0 0 0; */
}

.regContainer{
  width: 50%;
  margin-left: auto;
  
}

.textfield{
  margin: 20px 0;
}

.textfield .MuiTextField-root{
 width: 80%; 
}

.textfield .MuiButton-root{
  width: 80%;
  border-radius: 50px;
  background-color: #5F35F5;
  font-style: normal;
}

.textfield .MuiButton-root:hover{
  background-color: white;
  color: #5F35F5;
}

.textfield .footer{
  font-size: 12px;
  text-align: center;
  
}

.sign{
  color: red;
  cursor: pointer;
}

.googleImg{
  width: 30%;
  margin-top: 20px;
  cursor: pointer;
}
.loginUp{
  color: red;
  text-decoration: none;
}

.MuiPaper-root{
  width: 75%;
  border-radius: 10px;
}
/*==================================================================================================== 
                    Registration Part End
====================================================================================================*/


/*==================================================================================================== 
                    forgotPassword Part Start
====================================================================================================*/
.forgotPassword{
  width: 100%;
  height: 100vh;
  background: #5F35F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotPassword .box{
 
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.forgotPassword .box .textField{
  width: 100%;
  margin: 10px 0;
}
/*==================================================================================================== 
                    forgotPassword Part End
====================================================================================================*/


/*==================================================================================================== 
                    Navbar Part Start
====================================================================================================*/

.Navbar{
  width: 100%;
  height: 100vh;
 display: flex;
 justify-content: center;
}

.Navbar .navContianer{
  width: 100px;
  height: 100vh;
  background-color: #5F35F5;
  border-radius: 10px;
}
.Navbar .navContianer .profilePic{
  width: 60px;
  height: 60px;
}

.Navbar .navContianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Navbar .navContianer ul li .icons{
  display: inline-block;
  color: white;
  font-size: 40px;
  margin: 25px 0;
  
}
.Navbar .navContianer ul li .active{
  display: inline-block;
  font-size: 40px;
  margin: 25px 0;
  position: relative;
  z-index: 1;
  
}
.Navbar .navContianer ul li .active:after{
  position: absolute;
  content: '';
  position: absolute;
  width: 72px;
  height: 100%;
  top: -5px;
  left: -6px;
  background: #fff;
  z-index: -1;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
ul li .active::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 101%;
  top: -5px;
  left: 147%;
  background: #5F35F5;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

/*==================================================================================================== 
                    Navbar Part End
====================================================================================================*/

/*==================================================================================================== 
                    home>Group Part Start
====================================================================================================*/
.box{
  width: 100%;
  height: 290px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 3px 18px 2px rgba(207,190,190,0.81);
-webkit-box-shadow: 0px 3px 18px 2px rgba(207,190,190,0.81);
-moz-box-shadow: 0px 3px 18px 2px rgba(207,190,190,0.81);
overflow-y: scroll;
margin-bottom: 20px;
}
.box .Gtitle{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:-18px;;
  left: 0;
  z-index: 2;
  background-color: #fff;
}
.box .GroupList{
  display: flex;
  column-gap: 40px;
  margin: 20px 0;
}

.box .GroupList .GpImg{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/*==================================================================================================== 
                    home>Group  Part End
====================================================================================================*/

/*==================================================================================================== 
                    home>Friend Request  Part start
====================================================================================================*/
.box .FQtitle{
  background-color: #fff;
}
.box .FQList{
  display: flex;
  column-gap: 40px;
  margin: 20px 0;
}
.box .FQButton{
  display: flex;
  column-gap: 5px;
  height: 35px;
  text-transform: lowercase;
}
/*==================================================================================================== 
                   home>Friend Request  Part end
====================================================================================================*/

/*==================================================================================================== 
                   home>Friend  Part Start
====================================================================================================*/
.box .FButton{
  display: flex;
  column-gap: 5px;
  height: 35px;
  text-transform: lowercase;
}
.box .FList{
  display: flex;
  column-gap: 40px;
  margin: 20px 0;
}
/*==================================================================================================== 
                   home>Friend  Part end
====================================================================================================*/
